{% extends "base.html" %}

{% block pre_next %}
    <li>
        <a href="{% if articles_previous_page %}{{ SITEURL }}/{{ articles_previous_page.url }}{% endif %}" class="uk-button">
            <i class="uk-icon-chevron-left"></i> Prev
        </a>
        <a href="{% if articles_next_page %}{{ SITEURL }}/{{ articles_next_page.url }}{% endif %}" class="uk-button">
            <i class="uk-icon-chevron-right"></i> Next
        </a>
    </li>
{% endblock pre_next %}

{% block content %}
    <article class="uk-article">
        {% for article in articles_page.object_list %}
            <div class="uk-grid">
                <div class="uk-width-medium-2-10">
                    {% if article.featured_image %}
                        <img class="uk-thumbnail uk-thumbnail-large" src="{{ article.featured_image }}">
                    {% else %}
                        <div class="tags">
                            {% for tag in article.tags[0:4] %}
                                <div>
                                    <i class="uk-icon-tag"></i>
                                    <div class="uk-badge uk-badge-notification">
                                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="uk-width-medium-8-10">
                    <h2>
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"> {{ article.title }} </a>
                    </h2>
                    <p class="uk-article-meta">
                        {{ article.locale_date }}
                    </p>
                    <p>{{ article.summary|striptags }}</p>
                    <!--<p> {{ ' '.join(article.content.split(' ')[0:50])|striptags }}...</p>-->
                    <p class="uk-text-right jojo-read-more"><a href="{{ SITEURL }}/{{ article.url }}">Read More...</a></p>
                </div>
            </div>
            <hr class="uk-article-divider">
        {% endfor %}
    </article>

    {% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
    <ul class="uk-pagination">
        {% if articles_previous_page %}<li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><i class="uk-icon-angle-double-left"></i></a></li>{% endif %}
        {% if articles_previous_page %}<li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">{{ articles_previous_page.number }}</a></li>{% endif %}
        <li class="uk-active"><span>{{ articles_page.number }}</span></li>
        {% if articles_next_page %}<li><a href="{{ SITEURL }}/{{ articles_next_page.url }}">{{ articles_next_page.number }}</a></li>{% endif %}
        {% if articles_next_page %}<li><a href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="uk-icon-angle-double-right"></i></a></li>{% endif %}
    </ul>
    {% endif %}
{% endblock content %}